<script src="/static/scripts/Chart.js"></script>

<h1>Top {{title}}</h1>

<form method="post">
  start_time: <input min="{{avail_start_time}}" max="{{avail_end_time}}" type="datetime-local" name="start_time" value={{start_time}}>
  end_time: <input min="{{avail_start_time}}" max="{{avail_end_time}}" type="datetime-local" name="end_time" value={{end_time}}>
  <input type="submit" value="submit">
</form>

<h2>Top 10 Graph</h2>

<canvas id="top_asns" width="1000" height="400"></canvas>

<script>
var colors = [
  "rgba(255,0,0,0.5)",
  "rgba(0,255,0,0.5)",
  "rgba(0,0,255,0.5)",
  "rgba(255,255,0,0.5)",
  "rgba(0,255,255,0.5)",
  "rgba(255,0,255,0.5)",
  "rgba(192,192,192,0.5)",
  "rgba(128,0,0,0.5)",
  "rgba(128,128,0,0.5)",
  "rgba(0,128,0,0.5)",
];

var flowData = {
	labels : [ {% for d in time_series_times %}"{{d}}",{% endfor %} ],
	datasets : [

{% for label, data in time_series.iteritems() %}
{
  label : "{{ label }}",
  fillColor : "rgba(0,0,0,0)",
  strokeColor : colors[{{loop.index0}}],
  pointColor : colors[{{loop.index0}}],
  pointStrokeColor : colors[{{loop.index0}}],
  data : [ {% for d in data %}{{ d[0] }}, {% endfor %} ]
},

{% endfor %}
	]
}

var flows = document.getElementById('top_asns').getContext('2d');
new Chart(flows).Line(flowData, {
    animation: false,
    multiTooltipTemplate: "<%= datasetLabel %> - <%= value %>",
  }
);
</script>

<h2>Table</h2>

<table style="width:75%">
  <tr>
    <th>{{title}}</th>
    <th>sum_bytes</th>
  </tr>

  {% for f in flow_aggr %}
  <tr>
    <td>{{f[0]}}</td>
  <td>{{f[1]}}</td>
  </tr>
  {% endfor %}

</table>
