<h1>Help for the view namespace</h1>

<table style="width:75%">
  <tr>
    <th>URL</th>
    <th>Description</th>
  </tr>
  <tr>
    <td><a href='/view/offloaded_traffic'>/view/offloaded_traffic</a></td>
    <td>Check how much traffic you would offload with a certain number of prefixes during a period of time.</td>
  </tr>
  <tr>
    <td><a href='/view/aggregate_per_as'>/view/aggregate_per_as</a></td>
    <td>With this view you can aggregate traffic per AS during a period of time.</td>
  </tr>
  <tr>
    <td><a href='/view/aggregate_per_prefix'>/view/aggregate_per_prefix</a></td>
    <td>With this view you can aggregate traffic per prefix during a period of time.</td>
  </tr>
  <tr>
    <td><a href='/view/simulate'>/view/simulate</a></td>
    <td>Given a period of time and a maximum number of prefixes it will simulate how SIR should perform.</td>
  </tr>
</table>
