<h1>Offloaded Traffic</h1>

<form method="post">
  start_time: <input min="{{avail_start_time}}" max="{{avail_end_time}}" type="datetime-local" name="start_time" value={{start_time}}>
  end_time: <input min="{{avail_start_time}}" max="{{avail_end_time}}" type="datetime-local" name="end_time" value={{end_time}}>
  num_prefixes: <input type="number" name="num_prefixes" value="{{num_prefixes}}">
  <input type="submit" value="submit">
</form>

Total: {{ '{0:,d}'.format(total_bytes) }}</br>
Offloaded: {{ '{0:,d}'.format(offloaded_bytes) }}</br>
%: {{ percentage }}</br>
